* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
}

.text {
  color: #fff;
  text-align: center;
}

#grad2 {
  height: auto;

  /* For browsers that do not support gradients */
  border-radius: 0px;
  height: 100%;


  background-image: linear-gradient(to right, #94e9e7, #eeaeae, #94e9e7);
}

.zig-zag {
  border: none;
  width: auto;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  height: 40px;
  background: linear-gradient(135deg, #eeaeae 25%, transparent 25%) -20px 0,
    linear-gradient(225deg, #eeaeae 25%, transparent 25%) -20px 0,
    linear-gradient(315deg, #94e9e7 25%, transparent 25%),
    linear-gradient(45deg, #94e9e7 25%, transparent 25%);
  background-size: 40px 40px;
  background-color: white;
}

.card {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.700);
  max-width: 300px;
  text-align: left;
  margin: 0 auto;
  background-color: white;
  border-radius: 12px;
  width: 100%;


  /* position: absolute;
    top: 700px;
    left:200px; */
}

.card-video {
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.700);
  margin: 0 0;
  height: 505px;
  width: auto;
  background-color: rgba(255, 0, 0, 0);
}


h1 {
  align-self: auto;
  text-align: center;
  font-family: cursive;
  text-emphasis-color: white;
}

.dropbtn {

  /* background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  ; */
  background-color: #3d577a;
  border-radius: 0px;
  padding: 16px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.781);
  color: white;

}





.dropbtn:hover {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #94e9e7;
  cursor: pointer;

  text-align: center;
  border: none;

}
