 <!--The content below is only a placeholder and can be replaced.
<div class="conatiner">
<div class="container-end">
  <div class="cardContainer row">
    <div class="col-xs-12 col-md-6">
      <div class="card-video">
        <h1> Here is the Overall data</h1>
        <video width="661" height="450" controls>
          <source src="mov_bbb.mp4" type="video/mp4">
          <source src="mov_bbb.ogg" type="video/ogg">
          <source src="../assets/video/find location.mp4" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <h1> -: score :- </h1>
      <div class="card">


        <div class="row-4">
          <div class="card">
            <h1>Player 1 </h1>
            <h3> 0 {{ pointp1}}</h3>
          </div>
        </div>
        <h1>Player 2 </h1>
        <h3> 0 {{ pointp2}}</h3>
      </div>
    </div>
  </div>
</div>
<div class="conatiner-data">
  <div class="card">

  </div>
</div>
<div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Header 1</th>
        <th>Header 2</th>
        <th>Header 3</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Footer 1</th>
        <th>Footer 2</th>
        <th>Footer 3</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
      <tr>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
      <tr>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
    </tbody>
  </table>

</div> -->
<router-outlet></router-outlet>