<div class="conatiner" id="grad1">
  <h1>Players Profile</h1>
  <div class="container-fluid">
    <div class="cardContainer row">


      <div class="col-xs-12 col-md-5">
        <h1>Player 1</h1>
        <div class="card rightCard">
          <div class="container">
            <img src="../assets/images/tf.jpg" alt="Avatar" style="width:100%" class="image">
            <div class="text">
              <h2> Taufik Hidayat </h2>
              <p>Win: 413</p>
              <p>Loss: 138</p>
              <p>Spaciality: Backhand Shots</p>
              <p>International Debut: 1996, Indonesia Open</p>
              <p>Highest ranking 1</p>
            </div>
            <div class="overlay">
              <div class="text">
                <div class="text-card">
                  <table style="width:100%" class="text1">
                    <tr>
                      <th> Country : </th>
                      <th> Indonesia</th>

                    </tr>
                    <tr>
                      <th> Born : </th>
                      <th> 10 Aug 1981</th>

                    </tr>
                    <tr>
                      <th> Height : </th>
                      <th> 5 ft 9 in</th>

                    </tr>
                    <tr>
                      <th> Weight : </th>
                      <th> 65 kg</th>

                    </tr>
                    <tr>
                      <th> Handedness : </th>
                      <th> Right</th>

                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-2">
        <p class="vs">V/S</p>
      </div>
      <div class="col-xs-12 col-md-5">
        <h1>Player 2</h1>
        <div class="card leftCard">
          <div class="container">
            <img src="../assets/images/p.jpg" alt="Avatar" style="width:100%" class="image">
            <div class="text">
              <h2> Pablo Abián </h2>

              <p>Win: 441</p>
              <p>Loss: 255</p>
              <p>Spaciality:Smash </p>
              <p>International Debut: 2003 , Norway International</p>
              <p>Highest ranking 20</p>
            </div>
            <div class="overlay">
              <div class="text">
                <div class="text-card">
                  <table style="width:100%" class="text1">
                    <tr>
                      <th> Country : </th>
                      <th> Spain</th>

                    </tr>
                    <tr>
                      <th> Born : </th>
                      <th> 12 June 1985</th>

                    </tr>
                    <tr>
                      <th> Height : </th>
                      <th> 5 ft 10 in</th>

                    </tr>
                    <tr>
                      <th> Weight : </th>
                      <th> 78kg</th>

                    </tr>
                    <tr>
                      <th> Handedness : </th>
                      <th> Right</th>

                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-12">
    <button class="btn" (click)="navigatePage()"> Start </button>
  </div>
  <hr>
  <hr>
  <hr>
  <hr>
</div>
